<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <title>About</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <style>

    li a{font-weight: bold;}

.custom{margin-top: 10%; width: 90%; padding-bottom: 11%; background-color: white; text-align: left;}

.customfull{border: hidden; width: 90%; padding-bottom: 50px; background-color: white;}

    @media (min-width: 1px) {
    .container{
        width: 100%;
        float: left;
        margin-top: 100px;
        border: 2px groove #E0E0E0; 
        border-radius: 5px;
    }


}

h1{font-family: 'Ubuntu', sans-serif;}

body {
   background-color: #fff;
}

p{font-size: 20px;}
p.copy{font-size: 15px;}

}
    </style>

  </head>
  <body>
    <div class="container-fluid customfull">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid" style="width: 100%;">

    <!-- logo-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
          <span class="glyphicon glyphicon-menu-hamburger" style="border: none; color: #fff;"></span>
      </button>
      <a href="/items/" class="navbar-brand">Webstore</a>
    </div>
    <!-- menu items-->
    <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">

        <li><a href="/items/">Home</a></li>
        <li  class="active"><a href="/items/about/">About</a></li>
        <li><a href="/items/add_a_product/">Add a product</a></li>

      </ul>

      <!-- right align -->
      <ul class="nav navbar-nav navbar-right">

        {% if user.is_authenticated %}
        <li><a href="/items/logout/">Logout</a></li>
        <li><a href="/items/my_profile/"><span class="glyphicon glyphicon-user" style="color: white;"></span></a></li>
        {% else %}
        <li><a class="actions" href="/items/login_signup/">Login/Sign Up</a></li>
        {% endif %}

      </ul>
    </div>
  </div>


    </nav>
<div class="container-fluid custom">
    <h1>About:</h1><br>
    <p>This projects development has started on 20th of August 2018. Then, I had no ambition for it, neither have I thought that i will ever post it on Github and start active development. I am happy that i have changed my mind. Besides being my django programing practice project, I want this project to help everyone who is just starting out and was looking for something just like this. I am happy with the direction that the project is taking and i hope that one day, it will see the light of day. I am planning this project to release sometime in 2018.<br>
    This project is taking up most of my free time because i really like django web development. The scope of this project is huge and i really hope that one day, it will do just what it is intended for, to be the next big player on the web addvertisement and purchase!<br>
    Currently, I am working alone on this project. but I had help from my fellow developer, whom I will not name for the sake of privacy.<br>
    His BitBucket page can be found <a href="https://bitbucket.org/_Bojan_/" style="text-decoration: underline;"><mark>here.</mark></a><br>
    More about the project and the development can be found on my <a href="https://github.com/tomothevinkovic/Django-webstore" style="text-decoration: underline;"><mark>GITHUB PAGE.</mark></a>
    <br>
    <strong>Current version:</strong> 0.2.3.
    </p>

</div>  
</div>
</body>
</html>
